.div{
    background-color: black;
}
.black {
    position:absolute;
    z-index:1;
    top:0; left:0;
  }
  
.android {
    position:absolute;
    z-index:2;
    top:50; left:50;
}

.w3-container{
    max-height: 200px !important;
   }

.w3-button{
    padding-top: 80px;
}