{% extends "base.html" %}

{% block tab1 %} SKILLS {% endblock %}

{% block tab2 %}  {% endblock %}

{% load static %}

{% block body %}
<!-- Page content -->
<div class="w3-content" style="max-width:2000px;margin-top:46px">

        <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
                <h2 class="w3-wide"><img src="{% static "/images/logo.jpg" %}" width="30%" height="%30"></h2>
                <p class="w3-opacity"><i>Venezuelan Developer</i></p>
        </div>


  <!-- The Tour Section -->
  <div class="w3-black" id="content">
    <div class="w3-container w3-content w3-padding-64" style="max-width:800px">
      <h2 class="w3-wide w3-center"></h2>
      <p class="w3-opacity w3-center"><i></i></p><br>
      <h3 class="w3-wide w3-center">Skills Programming</h2>
      <ul class="w3-ul w3-border w3-white w3-text-grey">
        <li class="w3-padding">AngularJS <span class="w3-badge w3-right w3-red w3-margin-right"><i class="fa fa-asterisk" aria-hidden="true"></i>
          <i class="fa fa-asterisk" aria-hidden="true"></i><i class="fa fa-asterisk" aria-hidden="true"></i><i class="fa fa-asterisk" aria-hidden="true"></i>
          <i class="fa fa-asterisk" aria-hidden="true"></i></span></li>
        <li class="w3-padding">Android Studio <span class="w3-badge w3-right w3-red w3-margin-right"><i class="fa fa-asterisk" aria-hidden="true"></i>
          <i class="fa fa-asterisk" aria-hidden="true"></i><i class="fa fa-asterisk" aria-hidden="true"></i><i class="fa fa-asterisk" aria-hidden="true"></i>
          <i class="fa fa-asterisk" aria-hidden="true"></i></span></li>
        <li class="w3-padding">Java <span class="w3-badge w3-right w3-red w3-margin-right"><i class="fa fa-asterisk" aria-hidden="true"></i>
          <i class="fa fa-asterisk" aria-hidden="true"></i><i class="fa fa-asterisk" aria-hidden="true"></i><i class="fa fa-asterisk" aria-hidden="true"></i>
          <i class="fa fa-asterisk" aria-hidden="true"></i><i class="fa fa-asterisk" aria-hidden="true"></i></span></li>
          <li class="w3-padding">Html<span class="w3-badge w3-right w3-red w3-margin-right"><i class="fa fa-asterisk" aria-hidden="true"></i>
            <i class="fa fa-asterisk" aria-hidden="true"></i><i class="fa fa-asterisk" aria-hidden="true"></i><i class="fa fa-asterisk" aria-hidden="true"></i>
          </span></li>
          <li class="w3-padding">Android Studio <span class="w3-badge w3-right w3-red w3-margin-right"><i class="fa fa-asterisk" aria-hidden="true"></i>
            <i class="fa fa-asterisk" aria-hidden="true"></i><i class="fa fa-asterisk" aria-hidden="true"></i><i class="fa fa-asterisk" aria-hidden="true"></i>
            <i class="fa fa-asterisk" aria-hidden="true"></i></span></li>
          <li class="w3-padding">Java <span class="w3-badge w3-right w3-red w3-margin-right"><i class="fa fa-asterisk" aria-hidden="true"></i>
            <i class="fa fa-asterisk" aria-hidden="true"></i><i class="fa fa-asterisk" aria-hidden="true"></i><i class="fa fa-asterisk" aria-hidden="true"></i>
            <i class="fa fa-asterisk" aria-hidden="true"></i><i class="fa fa-asterisk" aria-hidden="true"></i></span></li>
      </ul>

      <h3 class="w3-wide w3-center">Languages</h2>
        <ul class="w3-ul w3-border w3-white w3-text-grey">
          <li class="w3-padding">Spanish <span class="w3-tag w3-red w3-margin-left"></span></li>
          <li class="w3-padding">English <span class="w3-tag w3-red w3-margin-left"></span></li>
        </ul>

        <h3 class="w3-wide w3-center">Studies</h2>
        <div class="w3-row-padding w3-padding-32" style="margin:0 -16px">
            <div class="w3-third w3-margin-bottom">
              <img src="{% static "/images/ucab.jpg" %}" alt="Ucab" style="width:100%" height="160" class="w3-hover-opacity">
              <div class="w3-container w3-white" >
                <p><b>Universidad Catolica Andres Bello</b></p>
                <p class="w3-opacity"> Since September 2011</p>
                <p>Actually in 10 semester of my carreer of Informatics Engineering</p>
              <a href="http://w2.ucab.edu.ve/escueladeingenierainformatica.html"><button class="w3-button w3-black w3-margin-bottom" >See info</button></a>
              </div>
            </div>
            <div class="w3-third w3-margin-bottom">
              <img src="{% static "/images/cva.jpg" %}" alt="Cva" style="width:100%" height="160" class="w3-hover-opacity">
              <div class="w3-container w3-white">
                <p><b>Centro Venezolano Americano</b></p>
                <p class="w3-opacity" style="padding-top: 22px">Jan 2010 to Jan 2011</p>
                <p style="padding-bottom: 22px;">Cultural Center to learn or study English.</p>
              <a href="https://cvalasmercedes.wordpress.com/"> <button class="w3-button w3-black w3-margin-bottom" >See info</button></a>
              </div>
            </div>
            <div class="w3-third w3-margin-bottom">
              <img src="{% static "/images/benllinsoft.jpg" %}" alt="Benllisoft" style="width:100%" height="160" class="w3-hover-opacity">
              <div class="w3-container w3-white">
                <p><b>Benllisoft</b></p>
                <p class="w3-opacity" style="padding-top: 22px">Feb 2012</p>
                <p style="padding-bottom: 44px;">Course of C++</p>
                <a href="http://www.benllisoft.com/website/"><button class="w3-button w3-black w3-margin-bottom"  >See info</button></a>
              </div>
            </div>
          </div>

          <h3 class="w3-wide w3-center">Jobs</h2>
          <div class="w3-row-padding w3-padding-32" style="margin:0 -16px">
              <div class="w3-third w3-margin-bottom">
                <img src="{% static "/images/socialgest.png" %}" alt="Ucab" style="width:100%" height="160" class="w3-hover-opacity">
                <div class="w3-container w3-white" >
                  <p><b>SocialGest</b></p>
                  <p class="w3-opacity" style="padding-top: 22px;"> Since May 2016 to July 2017</p>
                  <p style="padding-bottom: 22px;">Developing Angular apps</p>
                <a href="https://www.socialgest.net/es"><button class="w3-button w3-black w3-margin-bottom" >See info</button></a>
                </div>
              </div>
              <div class="w3-third w3-margin-bottom">
                <img src="{% static "/images/sweetcherrytech.jpg" %}" alt="Cva" style="width:100%" height="160" class="w3-hover-opacity">
                <div class="w3-container w3-white">
                  <p><b>Sweetcherrytech</b></p>
                  <p class="w3-opacity" style="padding-top: 22px">Since July 2017</p>
                  <p style="padding-bottom: 22px;">Android Developer</p>
                <a href="http://www.sweetcherrytech.com/"> <button class="w3-button w3-black w3-margin-bottom" >See info</button></a>
                </div>
              </div>
            </div>
    </div>
  </div>


  <!-- The Contact Section -->
  <div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="contact">
    <h2 class="w3-wide w3-center">CONTACT</h2>
    <p class="w3-opacity w3-center"><i>Wanna comunicate with me? Drop a message!</i></p>
    <div class="w3-row w3-padding-32">
      <div class="w3-col m6 w3-large w3-margin-bottom">
        <i class="fa fa-map-marker" style="width:30px"></i> Caracas, VZ<br>
        <i class="fa fa-phone" style="width:30px"></i> Phone: 0424-113-4417<br>
        <i class="fa fa-envelope" style="width:30px"> </i> Email: juanmacedoal@gmail.com<br>
      </div>
      <div class="w3-col m6">
        <form method="post" action="" role="form">
          <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
            <div class="w3-half">               
              <input class="w3-input w3-border" type="text" placeholder="Name" required name="contact">
            </div>
            <div class="w3-half">
              <input class="w3-input w3-border" type="text" placeholder="Email" required name="email">
            </div>
          </div>
          <input class="w3-input w3-border" type="text" placeholder="Message" required name="message">
                {% csrf_token %}
                {{ form.as_p }}   
              <div class="form-actions">
                <button class="w3-button w3-black w3-section w3-right" type="submit">Send</button>
              </div>        
        </form>
      </div>
    </div>
  </div>
  
<!-- End Page Content -->
</div>

{% endblock %}


