{% extends 'base.html' %}

{% block tab1 %} BACKGROUNDS {% endblock%}

{% block tab2 %} <a href="/curriculum/" class="w3-bar-item w3-button w3-padding-large w3-hide-small">CURRICULUM</a>{% endblock%}

{% block tab3 %} <a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-hide-small">CONTACT</a> {% endblock%}

{% block tab4 %} BACKGROUNDS {% endblock%}

{% block tab5 %} <a href="/curriculum/" class="w3-bar-item w3-button w3-padding-large">CURRICULUM</a> {% endblock%}

{% block tab6 %} <a href="#contact" class="w3-bar-item w3-button w3-padding-large">CONTACT</a> {% endblock%}

{% load static %}

{% block body %}


  <!-- The Topics Section -->
  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="content">
    <h2 class="w3-wide"><img src="{% static "/images/logo.jpg" %}" width="30%" height="%30"></h2>
    <p class="w3-opacity"><i>Venezuelan Developer</i></p>
    <p class="w3-justify">Like a whole bunch of developer in the world I'm just one more, with the
      plus that the life i had, make me agil to difficult situations, give me more ideas, more
      ways to develop that ideas. All decisions, all failures and all steps we passed defines us
      as the great people we are now.</p>
  </div>

<hr>

  <!-- The Contact Section -->
  <div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="contact">
      <h2 class="w3-wide w3-center">CONTACT</h2>
      <p class="w3-opacity w3-center"><i>Wanna comunicate with me? Drop a message!</i></p>
      <div class="w3-row w3-padding-32">
        <div class="w3-col m6 w3-large w3-margin-bottom">
          <i class="fa fa-map-marker" style="width:30px"></i> Caracas, VZ<br>
          <i class="fa fa-phone" style="width:30px"></i> Phone: 0424-113-4417<br>
          <i class="fa fa-envelope" style="width:30px"> </i> Email: juanmacedoal@gmail.com<br>
        </div>
        <div class="w3-col m6">
          <form method="POST" action="" role="form">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="w3-button w3-black w3-section w3-right" type="submit">SEND</button>
          </form>
        </div>
      </div>
    </div>

<!-- End Page Content -->
</div>
<!-- Add Google Maps -->
<div id="googleMap" style="height:400px;" class="w3-grayscale-max">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d125549.02138144325!2d-66.9604061535986!3d10.468552911150889!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8c2a58adcd824807%3A0x93dd2eae0a998483!2sCaracas%2C+Capital+District!5e0!3m2!1sen!2sve!4v1504814188903"
        width="100%" height="450" frameborder="0" style="border:0" allowfullscreen>
        </iframe>
</div>
<script>
function myMap() {
  myCenter=new google.maps.LatLng(41.878114, -87.629798);
  var mapOptions= {
    center:myCenter,
    zoom:12, scrollwheel: false, draggable: false,
    mapTypeId:google.maps.MapTypeId.ROADMAP
  };
  var map=new google.maps.Map(document.getElementById("googleMap"),mapOptions);

  var marker = new google.maps.Marker({
    position: myCenter,
  });
  marker.setMap(map);
}
</script>

{% endblock %}