{% extends "base.html" %}

{% block tab1 %} BACKGROUNDS {% endblock%}

{% block tab2 %}  {% endblock%}

{% block tab3 %} <a href="#tutorials" class="w3-bar-item w3-button w3-padding-large w3-hide-small">TUTORIALS</a> {% endblock%}

{% block tab4 %} BACKGROUNDS {% endblock%}

{% block tab5 %}  {% endblock%}

{% block tab6 %} <a href="#tutorials" class="w3-bar-item w3-button w3-padding-large w3-hide-small">TUTORIALS</a> {% endblock%}

{% load static %}

{% block body %}


  <!-- Page content -->
<div class="w3-content" style="max-width:2000px;margin-top:46px" id="content">


  <!-- The Topics Section -->
  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
    <h2 class="w3-wide"><img src="{% static "/images/logo.jpg" %}" width="30%" height="%30"></h2>
    <p class="w3-opacity"><i>The road to the tutorial help</i></p>
    <p class="w3-justify">Like all the programmers know, our skills always come from hours and hours of reading stackoverflow,
      forums or seeing tutorials on the web, in this page i will show you which are the best tutorials that help me to know the things
      i know now.

    </p>
    <p>Soon in the Video section there will be tutorials made by me</p>
  </div>


  <!-- The Tour Section -->
  <div class="w3-black" id="tutorials">
    <div class="w3-container w3-content w3-padding-64" class="w3-col l3 m6" style="max-width:800px">
      <h2 class="w3-wide w3-center">TUTORIALS</h2>
      <p class="w3-opacity w3-center"><i></i></p><br>

      <div class="w3-row-padding w3-padding-32" style="margin:0 -16px">
        <div class="w3-third w3-margin-bottom">
            <iframe width="245" height="200" frameborder="0" allowfullscreen
            src="https://www.youtube.com/embed/watch?v=EknEIzswvC0&list=PLS1QulWo1RIbb1cYyzZpLFCKvdYV_yJ-E">
            </iframe>          <div class="w3-container w3-white">
            <p><b>Android Studio</b></p>
            <p>Building Your First App</p>
            <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">See info</button>
          </div>
        </div>
        <div class="w3-third w3-margin-bottom">
            <iframe width="245" height="200" frameborder="0" allowfullscreen
            src="https://www.youtube.com/embed/d6Dp4Dyeke8">
            </iframe>          <div class="w3-container w3-white">
            <p><b>Angular Course</b></p>
            <p>The basics.</p>
            <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">See info</button>
          </div>
        </div>
        <div class="w3-third w3-margin-bottom">
            <iframe width="245" height="200" frameborder="0" allowfullscreen
            src="https://www.youtube.com/embed/FNQxxpM1yOs">
            </iframe>          <div class="w3-container w3-white">
            <p><b>Django and Python Course</b></p>
            <p>Build a website.</p>
            <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">See info</button>
          </div>
        </div>
        <div class="w3-third w3-margin-bottom">
            <iframe width="245" height="200" frameborder="0" allowfullscreen
            src="https://www.youtube.com/embed/P8_wDttTeuk">
            </iframe>          <div class="w3-container w3-white">
            <p><b>Django Website on Heroku</b></p>
            <p>Deploying Django 1.10.</p>
            <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">See info</button>
          </div>
        </div>
        <div class="w3-third w3-margin-bottom">
            <iframe width="245" height="200" frameborder="0" allowfullscreen
            src="https://www.youtube.com/embed/watch?v=dD2EISBDjWM&list=PLr6-GrHUlVf_ZNmuQSXdS197Oyr1L9sPB">
            </iframe>          <div class="w3-container w3-white">
            <p><b>HTML Course</b></p>
            <p>The basics.</p>
            <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">See info</button>
          </div>
        </div>
        <div class="w3-third w3-margin-bottom">
            <iframe width="245" height="200" frameborder="0" allowfullscreen
            src="https://www.youtube.com/embed/watch?v=yQaAGmHNn9s&list=PL46F0A159EC02DF82">
            </iframe>          <div class="w3-container w3-white">
            <p><b>Javascript Course</b></p>
            <p>Beginner JavaScript Tutorial.</p>
            <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">See info</button>
          </div>
        </div>
      </div>
    </div>
  </div>



<!-- End Page Content -->
</div>

{% endblock %}