{% extends "base.html" %}

{% block tab1 %} BACKGROUNDS {% endblock%}

{% block tab2 %}  {% endblock%}

{% block tab3 %} <a href="#tutorials" class="w3-bar-item w3-button w3-padding-large w3-hide-small">TUTORIALS</a> {% endblock%}

  <!-- Django load Images 

<!DOCTYPE html>
<html>
    {% load static %}
    <head>
        <link rel="shortcut icon" type="image/png" href="{% static "images/favico.ico" %}" />
        <title src=>JMMA</title>
    </head>

  {% load static %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{% static "/css/index.css" %}">
<style>
body {font-family: "Lato", sans-serif}
.mySlides {display: none}
</style>
<body>

<!-- Navbar 
<div class="w3-top">
  <div class="w3-bar w3-black w3-card-2">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="/index/" class="w3-bar-item w3-button w3-padding-large">HOME</a>
    <a href="#band" class="w3-bar-item w3-button w3-padding-large w3-hide-small">BACKGROUNDS</a>
    <a href="#tour" class="w3-bar-item w3-button w3-padding-large w3-hide-small">TUTORIALS</a>
    <div class="w3-dropdown-hover w3-hide-small">
      <button class="w3-padding-large w3-button" title="More">CATEGORIES<i class="fa fa-caret-down"></i></button>     
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="/projects/" class="w3-bar-item w3-button">PROJECTS</a>
        <a href="/tutorials/" class="w3-bar-item w3-button">TUTORIALS</a>
        <a href="/articles/" class="w3-bar-item w3-button">RECOMMENDED ARTICLES</a>
        <a href="/videos/" class="w3-bar-item w3-button">VIDEOS</a>
      </div>
    </div>
  </div>
</div>

<!-- Navbar on small screens 
<div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
  <a href="#band" class="w3-bar-item w3-button w3-padding-large">BACKGROUNDS</a>
  <a href="#tour" class="w3-bar-item w3-button w3-padding-large">CURRICULUM</a>
  <a href="#contact" class="w3-bar-item w3-button w3-padding-large">CONTACT</a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large">CATEGORIES</a>
</div>



  <!-- Automatic Slideshow Images 
  <div class="mySlides w3-display-container w3-center" class="swipe">
    <img src="{% static "/images/android.png" %}"style="width:100%" height="500">
    <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">  
    </div>
  </div>
  <div class="mySlides w3-display-container w3-center" class="swipe">
    <img src="{% static "/images/code1.jpg" %}"  width="100%" height="500">
    <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
    </div>
  </div>
  <div class="mySlides w3-display-container w3-center" class="swipe">
    <img src="{% static "/images/angular.jpg" %}" style="width:100%" height="500">
    <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small"> 
    </div>
  </div>
  <div class="mySlides w3-display-container w3-center">
        <img src="{% static "/images/js.gif" %}" style="width:100%" height="500">
        <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">  
        </div>
  </div>
  <div class="mySlides w3-display-container w3-center">
        <img src="{% static "/images/linux_microsoft.jpg" %}"style="width:100%" height="500">
        <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">  
        </div>
  </div>
-->

{% block body %}
  
  
  <!-- Page content -->
<div class="w3-content" style="max-width:2000px;margin-top:46px" id="content">
  

  <!-- The Topics Section -->
  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
    <h2 class="w3-wide"><img src="{% static "/images/logo.jpg" %}" width="30%" height="%30"></h2>
    <p class="w3-opacity"><i>The road to the tutorial help</i></p>
    <p class="w3-justify">Like all the programmers know, our skills always come from hours and hours of reading stackoverflow,
      forums or seeing tutorials on the web, in this page i will show you which are the best tutorials that help me to know the things
      i know now.
    
    </p>
    <p>Soon in the Video section there will be tutorials made by me</p>
  </div>
  

  <!-- The Tour Section -->
  <div class="w3-black" id="tutorials">
    <div class="w3-container w3-content w3-padding-64" class="w3-col l3 m6" style="max-width:800px">
      <h2 class="w3-wide w3-center">TUTORIALS</h2>
      <p class="w3-opacity w3-center"><i></i></p><br>

      <div class="w3-row-padding w3-padding-32" style="margin:0 -16px">
        <div class="w3-third w3-margin-bottom">
            <iframe width="245" height="200" frameborder="0" allowfullscreen
            src="https://www.youtube.com/embed/watch?v=EknEIzswvC0&list=PLS1QulWo1RIbb1cYyzZpLFCKvdYV_yJ-E">
            </iframe>          <div class="w3-container w3-white">
            <p><b>Android Studio</b></p>
            <p>Building Your First App</p>
            <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">See info</button>
          </div>
        </div>
        <div class="w3-third w3-margin-bottom">
            <iframe width="245" height="200" frameborder="0" allowfullscreen
            src="https://www.youtube.com/embed/d6Dp4Dyeke8">
            </iframe>          <div class="w3-container w3-white">
            <p><b>Angular Course</b></p>
            <p>The basics.</p>
            <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">See info</button>
          </div>
        </div>
        <div class="w3-third w3-margin-bottom">
            <iframe width="245" height="200" frameborder="0" allowfullscreen
            src="https://www.youtube.com/embed/FNQxxpM1yOs">
            </iframe>          <div class="w3-container w3-white">
            <p><b>Django and Python Course</b></p>
            <p>Build a website.</p>
            <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">See info</button>
          </div>
        </div>
        <div class="w3-third w3-margin-bottom">
            <iframe width="245" height="200" frameborder="0" allowfullscreen
            src="https://www.youtube.com/embed/P8_wDttTeuk">
            </iframe>          <div class="w3-container w3-white">
            <p><b>Django Website on Heroku</b></p>
            <p>Deploying Django 1.10.</p>
            <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">See info</button>
          </div>
        </div>
        <div class="w3-third w3-margin-bottom">
            <iframe width="245" height="200" frameborder="0" allowfullscreen
            src="https://www.youtube.com/embed/watch?v=dD2EISBDjWM&list=PLr6-GrHUlVf_ZNmuQSXdS197Oyr1L9sPB">
            </iframe>          <div class="w3-container w3-white">
            <p><b>HTML Course</b></p>
            <p>The basics.</p>
            <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">See info</button>
          </div>
        </div>
        <div class="w3-third w3-margin-bottom">
            <iframe width="245" height="200" frameborder="0" allowfullscreen
            src="https://www.youtube.com/embed/watch?v=yQaAGmHNn9s&list=PL46F0A159EC02DF82">
            </iframe>          <div class="w3-container w3-white">
            <p><b>Javascript Course</b></p>
            <p>Beginner JavaScript Tutorial.</p>
            <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">See info</button>
          </div>
        </div>
      </div>
    </div>
  </div>


  
<!-- End Page Content -->
</div>

{% endblock %}


<!-- Footer 
<footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge">
  <a href="https://www.facebook.com/juan.m.macedo" ><i class="fa fa-facebook-official w3-hover-opacity"></i></a>
  <a href="https://www.instagram.com/juanmacedo/" ><i  class="fa fa-instagram w3-hover-opacity"></i></a>
  <a href="https://twitter.com/macedo_2189?lang=en" > <i  class="fa fa-twitter w3-hover-opacity"></i></a>
  <a href="https://www.linkedin.com/in/juan-manuel-macedo-almeida-5589a559" ><i  class="fa fa-linkedin w3-hover-opacity"></i></a>
  <a href="https://github.com/juanmacedoal/" ><i  class="fa fa-github w3-hover-opacity"></i></a>

</footer>

<script>
// Automatic Slideshow - change image every 4 seconds
var myIndex = 0;
carousel();

function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";  
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}    
    x[myIndex-1].style.display = "block";  
    setTimeout(carousel, 4000);    
}

// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else { 
        x.className = x.className.replace(" w3-show", "");
    }
}

// When the user clicks anywhere outside of the modal, close it
var modal = document.getElementById('ticketModal');
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>

</body>
</html>
